.teacher_parent{
  padding-top: 80px;
 
  height: 110vh;
}
.main-profile{
  top:0;
}
.session_suggestion{
  display: flex;
  position:relative;
  margin:7% 10%;


}



.session_suggestion > div{
 
  width:30%;
}
.time_availability{
	margin-left:10%;
}
.custom-select {
  position: relative;
  font-family: Arial;
  margin-top:5%;
}

.custom-select select {
  display: none;
}

.select-selected {
  
  background-color:rgb(33,123,153);
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(228,212,233) transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(228,212,233) transparent;
  top: 7px;
}


.select-items div,.select-selected {
   color: rgb(228,212,233);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color:rgb(33,123,153);
   color: rgb(228,212,233);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


#teacher_name b{
  font-size:2vw;
  color: rgb(228,212,233)
}

.student_session_info{
  display: contents;
  width: auto;
  height: auto;
}
h1{
 font-size:large;
 font-weight: bold;
}

#suggested_sessions{
  margin-top:10%;
  position:relative;
  padding-top:0;
  padding-bottom:3% ;
 border-bottom:solid ;

}

#suggested_headline{
 font-size:xx-large;
  position:absolute;
  margin-left:35%;
  margin-top:3%;


}

#my_suggestion{
  font-size:x-large;
  position:absolute;
  margin:2% 35%;


}
.session_suggestion .button{
  position:absolute;
  height:50%;
  width:20%;
  right:0;
  bottom:0;
  margin:0;
  border: 1px solid rgba(106,74,113,255);
  

}

.anchor_as_button{
  background-color:rgba(106,74,113,255) !important;
  color:rgb(228,217,232) !important;
  padding: 1.5vh;
  border: 1px solid rgba(106,74,113,255);
  border-radius: 20px;
  cursor:pointer;
  font-size: 100%;
  text-decoration: none;
}
.anchor_as_button:hover{
  color:rgba(106,74,113,255) !important;
  background-color:rgb(228,217,232) !important;
  
}


.subjects .button{
  background-color:rgba(106,74,113,255);
  color:rgb(228,217,232);
  width:60%;
  margin-top:10% ;
  
  margin-bottom: 10%;
  height:80%;
  border:none;
  border-radius: 20px;
  cursor:pointer;
  font-size: 100%;
  padding:2px;
}
.button:hover{
  color:rgba(106,74,113,255);
  background-color:rgb(228,217,232);
  
}
.subjects td:nth-child(4){
   	width:3vh;
}
.subjects td:nth-child(3){
   	width:3vh;
}

.dataTables_scrollBody::-webkit-scrollbar {
  width: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background: rgba(143,120,149,0.7) ; 
  border-radius: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
  background: rgb(143,120,149) ; 
}
.dataTables_info {
    display:none;}

.accepted{
  background-color:rgb(211, 247, 128) !important;
}
.rejected{
  background-color:rgb(245, 87, 87) !important;
}
.session-time-date{
  display: flex;
  flex-direction: column;
}

#button_div{
  height: 6vh;
}